<%= $player1.name %> vs. <%= $player2.name %>!
<p>
  <%= $player1.name %> HP: 20
</p>
<p>
  <%= $player2.name %> HP: 20
</p>
<p>
  <form action='/attack' >
    <input type='submit' value='Attack' />
  </form>
</p>
